<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="footer-logo col-md-8 col-sm-6 col-xs-12">
                <img src="../../assets/img/green-logo.svg" alt="logo">
                <h1>Findtrend</h1>.
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li>Privacy Policy</li>
                    <li>Terms and Conditions</li>
                    <li>Contact Us</li>
                    <li>Careers</li>
                </ul>
            </div>
        </div>
    </div>
</footer>