.feature-container {
  margin: 30px;
  padding: 50px;
  text-align: center;
}

.text-wrapper {
  font-size: 45px;
  line-height: 55px;
  font-weight: bold;
  text-align: initial;
}

.paragraph-color1 {
  color: #000000;
}

.paragraph-color2 {
  color: #adadad;
}
