.about-us-container {
  background-color: #a8ff35;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.join-now-btn {
  background-color: black;
  border: none;
  width: 150px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 2px 2px;
  border-radius: 25px;
}

.about-us-content {
  color: #87d322;
}
