.navbar-logo {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: 35%;
}

.navbar-logo h1 {
  color: #fff;
}

.navbar-container {
  background-image: url(../../assets/img/Ornament.svg);
  background-color: black;
  padding: 20px;
}

.nav-link {
  color: #fff;
}

.navbar-toggler-icon .navbar-toggler {
  background-color: #fff;
}
