<section id="Solution" class="solution-container">
    <h1>Open new tabs is sh*t</h1>
    <div class="find-trend-block">
        <img src="../../assets/img/solution for discover a trend.svg" />
        <div class="find-trend-tweet">
            <div class="find-trend-container ">
                <img src="../../assets/img/green-logo.svg" alt="logo">
                <h3>Findtrend - Elon Musk
                </h3>

            </div>

        </div>
        <img src="../../assets/img/You just need one tab now.svg" />
    </div>
    <p>
        A solution for your browser tabs and don t make your device get slower over time. Get ease and faster to discover a trend with just one tab
    </p>
</section>