<section id="dashboard-container" class="dashboard-container">
    <div class="dashboard-content">
        <h1>Minimize your tabs.</h1>
        <h1>Find the trends!</h1>
        <p>Don't let your computer memories consumes all of those browser tabs.</p>
        <p>Findtrend let you gathers all of your favorite website into one place.</p>
        <button class="get-started-btn">Get Started</button>
    </div>
    <div class="search-btn">
        <img class="tab-1" src="../../assets/watn/tab1.png" />
        <img class="tab-2" src="../../assets/watn/tab2.png" />
        <img class="tab-3" src="../../assets/watn/tab3.png" />
        <img class="tab-4" src="../../assets/watn/tab4.png" />
    </div>
    <!-- <div class="images-wrapper">
        <img class="tab-1" src="../../assets/watn/tab1.png" />
        <img class="tab-2" src="../../assets/watn/tab2.png" />
        <img class="tab-3" src="../../assets/watn/tab3.png" />
        <img class="tab-4" src="../../assets/watn/tab4.png" />
    </div> -->
</section>